
@font-face {
    font-family: 'playfair_displayitalic';
    src: url('playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('playfairdisplay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'playfair_displayregular';
    src: url('playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color:#E4E4E4;
  color:#333;
  font-family: 'playfair_displayregular';
  background-image:url('tm-bg@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  height:100vh;
  @media (max-width: 1000px){
    background-image: none;
  }
}

a, a:hover, a:visited, a:active {
  color:#009245;
  outline:0;
}

h1,h2,h3 {
  font-weight:normal;
}

h1 {
    font-size: 6vw;
    line-height: 1em;
    margin: 1em 0 0;
    letter-spacing: -0.03em;
    &:after {
      content:"";
      display:block;
      width:30px;
      height:1px;
      border-bottom:2px solid #333;
      margin:30px 0;
    }
    @media (max-width: 1000px){
      font-size:60px;
    }
}

h2 {
  font-family: 'playfair_displayitalic';
  margin:0;
}

.info {
  width:50vw;
  max-width: 520px;
  margin-right:30vw;
  margin-left:auto;
  @media (max-width: 1000px){
    margin:0 auto;
    width:90vw;
  }
}

.contact, .contact2 {
  display:flex;
  border-top:2px solid #333;
  margin:30px 0 0;
  padding:30px 0;
  & > * {
    width:50%;
  }
  @media (max-width: 1000px){
    flex-wrap: wrap;
    border-top:0;
    margin:0;
    padding:0;
  }
}

.contact2 {
  margin:0 0;
}

.contact .contact__item:first-child {
  @media (max-width: 1000px){
      border-top:0;
      margin-top:30px;
    }
}

.contact__item {
  @media (max-width: 1000px){
    width:90vw;
    padding:30px 0;
    border-top:2px solid #333;

  }
}


h3 {
  margin:0;
}

span {
  font-size:1.17em;
}
